body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.pill{
    display: inline-block;
    padding: 5px 20px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 16px;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}