.not-found-section {
  display: flex;
  justify-content: center;
  gap: var(--space-24);
  margin-inline: var(--space-40);
  padding: var(--space-80);
}

.btn-container {
  aspect-ratio: square;
}

.not-found-container{
  width: 100%;
}

.not-found-container h1 {
  margin-top: var(--space-24);
  font-size: 3.5rem;
  width: 500px;
  color: var(--color-indigo-800);
}
