.block {
    width: 18px;
    height: 18px;
    animation: jump 3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes jump {

    0%,
    20% {
        transform: translateY(0);
    }

    25%,
    45% {
        transform: translateY(-10px);
    }

    50%,
    100% {
        transform: translateY(0);
    }
}

.block:nth-child(1) {
    animation-delay: 0s;
}

.block:nth-child(2) {
    animation-delay: 0.5s;
}

.block:nth-child(3),
.block:nth-child(4) {
    animation-delay: 1s;
}

.btn-with-arrow .btn-txt {
    position: relative;
    color: #562DFF;
    background: linear-gradient(270deg, #4B1AFF -9.41%, #4B1AFF 49%, #A994FF 55%, #A6FF15 65%, #A6FF15 75%, #A994FF 85%, #4B1AFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background 0.6s cubic-bezier(0.334, -0.014, 0.395, 0.863);
    text-decoration: none;
}

.btn-with-arrow:hover .btn-txt {
    background-position: -100% 100%;
}



.btn-with-arrow {
    display: inline-block;
    background: linear-gradient(270deg,
            #4B1AFF -9.41%,
            #4B1AFF 49%,
            #A994FF 55%,
            #A6FF15 65%,
            #A6FF15 75%,
            #A994FF 85%,
            #4B1AFF 100%);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.6s cubic-bezier(0.334, -0.014, 0.395, 0.863);
}

.btn-with-arrow:hover {
    background-position: 0%;
}

.arrow-svg {
    fill: currentColor;
}