* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
   background: linear-gradient(to right, #12002b, #1a003a, #2a0050);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: white;
}

.left {
  width: 50%;
}

.left p:first-child {
  font-size: 12px;
  letter-spacing: 2px;
  color: #9b7cff;
  margin-bottom: 10px;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.left p:nth-child(3) {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 20px;
}

.left button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: #f5cfa0;
  color: #000;
  cursor: pointer;
}

.right {
  width: 50%;
  text-align: center;
}

.right img {
  width: 280px;
}

@media (max-width: 768px) {

  .container {
    flex-direction: column;
    text-align: left;
    padding: 20px;
  }

  .left, .right {
    width: 100%;
  }

  .right {
    order: -1;
    margin-bottom: 20px;
  }

  .right img {
    width: 200px;
  }

  .left h1 {
    font-size: 28px;
  }
}